body {
    margin: 0 auto;
}

.mail {
    display: none;
}

 .mailmeo, .emailo {
    z-index: 600;
     
}

.facebook, .github, .quora, .gmail, .whatsapp, .twitter {
    display: none;
}

.fname, .gitname, .qname, .gname, .wname, .tname {
    display: none;
}

.infofor, .infofor1 {
    position: absolute;
    display: inline-block;
    top: 740px;
    left: 50px;
}
.infofor1 {
    top: 760px;
}


/*----z-index ----- */

.intro {
    z-index: 500;
}


.allpack {
    z-index: 100;
}

.aboutme {
    z-index: 600;
}
.body {
    z-index: 1000;
    top:0;
}

.myskills {
        position: relative;
        z-index: 200;
    }



.nameo {
    color: #000000;
    position: absolute;
    top: 10px;
    left: 490px;
    font-family: Pacifico, cursive;
    margin-right: 30px;
}
.hi {
     
    left: 50px;
    font-size: 100px;
    
  
    
}

.wrap {
    position: absolute;
    font-family: Pacifico, cursive;
    top: 280px;
    left: 360px;
    font-size: 25px;
    color: #808080;
 
    
}

.wrap2 {
        padding-top: 2%;
        font-size: 1300px;
        font-family: Pacifico, cursive;
        margin-left: 20px;
        margin-right: 300px;
        font-size: 25px;
        color: white;
    padding-left: 25%;
   
    }

 .krishna, .next, .next1 {
     
}


.about, .skills, .strength{
    position: relative;
    display: inline-block;
    top: -5px;
    left: 25%;
    margin-right: 90px;
    font-size: 25px;
    color: white;
    border:  white;
    border-style: outset;
    border-width: thick;
    border-radius: 5em;
    padding: 5px;
    cursor: pointer;
}
 .about:hover {
     background: rgba(255, 255, 255, 0.54);
     opacity: 1;
}
 .skills:hover { 
    background: rgba(255, 255, 255, 0.54);
     opacity: 1;
}
 .strength:hover { 
    background: rgba(255, 255, 255, 0.54);
     opacity: 1;
}


 .allpack, .aboutme, .myskills, .education, .mystrengths {
    
    
    left: 0;
    top: 0;
    width: 100%;
    height: 200px;
}
.profile {
    position: fixed;
    display: inline-block;
    width: 150px;
    left: 15px;
    top: 15px;
    border-radius: 50%;
    border-color: #175fe8;
    display: none;
 
 

    
    
}








.intro {
   position: fixed;
    height: 80px;
    background-color: #113b7e;
     
    left: 0;
    top: 0;
    width: 100%;
 
    
 
}
.allpack {
    
    height: 500px;
    
}


.aboutme {
    position: relative;
    background-color: #316ed1;
    height: 500px;
     
    
}

 
 




.myskills {
    background-color: white;
    height: 700px;
}

.lapo {
    position: relative;
    display: inline;
    width: 700px;
    height: 800px;
    left: 200px;
    z-index: 600;
    
}








.contactme{
    position: relative;
   background-color: #113b7e;
    height: 800px;
    
     
    
}



 .hey {
    position: relative;
    display: inline-block;
    left: 270px;
    top: 150px;
    font-family: Pacifico, cursive;
    font-size: 25px;
    color: white;
    
    
    padding-left: 6px;
    padding-right: 8px;
  
}

.pc {
    display: none;
}

.tablet {
    display: none;
}

.mobile {
    z-index: 600;
    display: none;
}

/* Z-index--------------   */



.body {
    position: absolute;
    
    
    width: 100%;
    height: 900px;

    top: 2700px;
    left: 0;
    background-color: rgb(255, 0, 206);
 
}






.particle {
    position: relative;
    display: inline-block;
    height: 4px;
    width: 4px;
    border-radius: 50%;
    margin: 18.5px;
    z-index: 1000;
    background-color: #ffffff;
 
}
.dot {
    position: absolute;
    display: inline;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border-style: dotted;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    
    
    
    
}



.topleft {
    
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 50%;
    background-color: #d727de;
    cursor: pointer;
    
   
}


.topright {
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 50%;
    background-color: #ff8c00;
    cursor: pointer;
    
}



.bottomleft {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 50%;
    height: 50%;
    background-color: #bdb76b;
    cursor: pointer;
    
}



.bottomright {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 50%;
    height: 50%;
    background-color: #483d8b;
    cursor: pointer;
   
}
.bio {
    margin: 35%;
    font-size: 40px;
    color: white;
}
.bio1{
    margin: 35%;
    font-size: 40px;
    color: white;
}
.bio2{
    margin: 35%;
    font-size: 40px;
    color: white;
}
.bio3{
    margin: 35%;
    font-size: 40px;
    color: white;
}

.mouseover{
    position: relative;
  
    height: 250px;
    background-color:#ffffff;
    
}

/*----------------media query 1----- max340 and min 240-----------------------------------------------------------*/


@media screen and (max-width: 340px) and (min-width: 240px) {
    
    .menu {
        position: fixed;
        display: inline-block;
        width: 50px;
        top: 10px;
        left: 5%;
        cursor: pointer;
        
    }
    
    .about, .skills, .strength,   .lapo, .hey, .mail , .cover{
        display: none;
    }
    
    
    .profile {
        position: absolute;
        
        left: 35%;
        width: 100px;
        
    } 
    
    .nameo {
        position: relative;
        left: 20px;
        top: 150px;
        margin-left: 5%;
        
    }
    
    .hi{
        font-size: 30px;
       font-family: Pacifico, cursive;
    }
    
    .wrap {
    position: relative;
    font-family: Pacifico, cursive;
    top: 130px;
    left: 20px;
    font-size: 15px;
    color: grey;
    margin-left: 3px;
    margin-right: 20px;
    }
    
    
    .wrap2 {
        font-family: Pacifico, cursive;
        margin-left: 20px;
        margin-right: 20px;
        font-size: 16px;
        color: white;
        
    }
    
   
    
    
.aboutme {
    position: relative;
    background-color: #3c9568;
    height: 550px;
    
  
    }
    
    .mail, .hey {
    position: relative;
    display: inline-block;
    left: 40px;
    top: 10px;
    font-family: Pacifico, cursive;
    font-size: 16px;
    color: white;
    background-color: #316ed1;
    
    padding-left: 6px;
    padding-right: 8px;
  
}
   
   .body {
    position: absolute;
    
    
    width: 100%;
    height: 900px;

    top: 2850px;
    left: 0;
    background-color: rgb(255, 0, 206);
  
}
.bio {
    margin: 5%;
      
    font-size: 20px;
    color: white;
    width: 100px;
    padding-top: 350px;
    padding-left: 54px;
}
.bio1 {
    margin: 5%;
    font-size: 20px;
    color: white;
    width: 100px;
    padding-top: 350px;
    padding-left: 24px;
}
.bio2 {
    margin: 5%;
    font-size: 20px;
    color: white;
    width: 70px;
    padding-top: 10px;
    padding-left: 50px;
}
.bio3{
    
    margin: 5%;
    font-size: 20px;
    color: white;
    width: 70px;
    padding-left: 24px;
    padding-top: 10px;
}
    
    .myskills{
      position: relative;
     
    }
    
.lapo {
    position: relative;
    display: inline;
    width: 230px;
    height: 400px;
   left: 1px;
     
    
} 
    .hey {
        position: absolute;
        display: inline-block;
        top: 40px;
        left: 40px;
    }
    
    .mailmeo, .emailo {
        position: absolute;
        display: inline-block;
        top: 90px;
        left: 40px;
        color: white;
        
    }
    
    
    .mailmeo {
        font-family: sans-serif;
        text-decoration: underline;
    }
    
    .emailo {
        top: 120px;
    }
    
    
    
    
    .fname, .gitname, .qname {
        position: relative;
        display: inline-block;;
        
        width: 40px;
        height: 10px;
          
        
        color: rgb(255, 255, 255);
        font-weight: bold;
        left: 40px;
         top: 160px;
        cursor: pointer;
       
       
    }
    .fname {
        top: 230px;
        padding-bottom: 45px;
        
    }
    
    .gitname {
        top: 300px;
        left: 5px;
        padding-bottom: 30px;
    }
    
    .qname {
        top: 405px;
        left: -40px;
        padding-bottom: 35px;
    }
    
    
    .gname{
        
        position: relative;
        display: inline;
       color: rgb(255, 255, 255);
        
        
        width: 60px;
        height: 60px;
        top: 225px;
      
        font-weight: bold;
        padding-bottom: 40px;
        left: 5px;
        cursor: pointer;
         
    }
   
    
    
    .mobile {
        position: absolute;
        display: inline-block;
        width: 190px;
        top: 200px;
        left: 20px;
    }
    
    
    
}





/*----------------media query 2----- max420 and min 340-----------------------------------------------------------*/

@media  screen and (max-width: 420px) and (min-width:340px) {
    
    
    .menu {
        position: absolute;
        display: inline-block;
        width: 50px;
        top: 10px;
        left: 5%;
        cursor: pointer;
    }
    
    .about, .skills, .strength,   .lapo, .hey, .mail , .cover{
        display: none;
    }
    
    
    .profile {
        position: absolute;
        
        left: 35%;
        width: 100px;
        
    } 
    
    .nameo {
        position: relative;
        left: 20px;
        top: 150px;
        margin-left: 5%;
        
    }
    
    .hi{
        font-size: 30px;
       font-family: Pacifico, cursive;
    }
    
    .wrap {
    position: relative;
    font-family: Pacifico, cursive;
    top: 130px;
    left: 20px;
    font-size: 15px;
    color: grey;
    margin-left: 3px;
    margin-right: 20px;
    }
    
    
    .wrap2 {
        font-family: Pacifico, cursive;
        margin-left: 20px;
        margin-right: 20px;
        font-size: 18px;
        color: white;
    }
    
   
    
    
.aboutme {
    position: relative;
    background-color: #3c9568;
    height: 550px;
   
  
    }
    
    .mail, .hey {
    position: relative;
    display: inline-block;
    left: 40px;
    top: 10px;
    font-family: Pacifico, cursive;
    font-size: 16px;
    color: white;
    background-color: #316ed1;
   
    padding-left: 6px;
    padding-right: 8px;
  
}
   
   .body {
    position: absolute;
    
    
    width: 100%;
    height: 900px;

    top: 2850px;
    left: 0;
    background-color: rgb(255, 0, 206);
   
}
.bio {
    margin: 5%;
      
    font-size: 20px;
    color: white;
    width: 100px;
    padding-top: 350px;
    padding-left: 54px;
}
.bio1 {
    margin: 5%;
    font-size: 20px;
    color: white;
    width: 100px;
    padding-top: 350px;
    padding-left: 24px;
}
.bio2 {
    margin: 5%;
    font-size: 20px;
    color: white;
    width: 70px;
    padding-top: 10px;
    padding-left: 50px;
}
.bio3{
    
    margin: 5%;
    font-size: 20px;
    color: white;
    width: 70px;
    padding-left: 24px;
    padding-top: 10px;
}
    
   .myskills{
      position: relative;
     
    }
    
.lapo {
    position: relative;
    display: inline;
    width: 325px;
    height: 500px;
   left: 1px;
     
    
} 
      .hey {
        position: absolute;
        display: inline-block;
        top: 40px;
        left: 90px;
    }
    
    .mailmeo, .emailo {
        position: absolute;
        display: inline-block;
        top: 90px;
        left: 90px;
        color: white;
        
    }
    .mailmeo {
        font-family: sans-serif;
        text-decoration: underline;
    }
    
    .emailo {
        top: 120px;
    }
    
    
    .fname, .gitname, .qname {
        position: relative;
        display: inline-block;;
        
        width: 60px;
        height: 60px;
          
       
        color: rgb(255, 255, 255);
        font-weight: bold;
        left: 90px;
         top: 260px;
        cursor: pointer;
       
       
    }
    .fname {
        top: 245px;
        padding-bottom: 15px;
    }
    
    .gitname {
        top: 340px;
        left: 25px;
        padding-bottom: 30px;
    }
    
    .qname {
        top: 455px;
        left: -40px;
        padding-bottom: 35px;
    }
    
    
    .gname{
        
        position: relative;
        display: inline;
       color: rgb(255, 255, 255);
        
        
        width: 60px;
        height: 60px;
        top: 245px;
      
        font-weight: bold;
        
        left: 15px;
        cursor: pointer;
         
    }
   
    
   
    
    .mobile {
        position: absolute;
        display: inline-block;
        width: 240px;
        top: 190px;
        left: 50px;
    }
    
    
    
}


/*-----media quer 3-----max520 and min359------*/

@media screen and (max-width: 520px) and (min-width:420px) {
    
    
    .menu {
        position: absolute;
        display: inline-block;
        width: 50px;
        top: 10px;
        left: 5%;
        cursor: pointer;
    }
    
   
    .about, .skills, .strength,   .lapo, .hey, .mail , .cover{
        display: none;
    }
    
    
    .profile {
        position: absolute;
        
        left: 35%;
        width: 100px;
        
    } 
    
    .nameo {
        position: relative;
        left: 20px;
        top: 150px;
        margin-left: 5%;
        
    }
    
    .hi{
        font-size: 30px;
       font-family: Pacifico, cursive;
    }
    
    .wrap {
    position: relative;
    font-family: Pacifico, cursive;
    top: 130px;
    left: 20px;
    font-size: 15px;
    color: grey;
    margin-left: 3px;
    margin-right: 20px;
    }
    
    
    .wrap2 {
        font-family: Pacifico, cursive;
        margin-left: 20px;
        margin-right: 20px;
        font-size: 20px;
        color: white;
    }
    
   
    
    
.aboutme {
    position: relative;
    background-color: #3c9568;
    height: 550px;
  
  
    }
    
    .mail, .hey {
    position: relative;
    display: inline-block;
    left: 40px;
    top: 10px;
    font-family: Pacifico, cursive;
    font-size: 16px;
    color: white;
    background-color: #316ed1;
 
    padding-left: 6px;
    padding-right: 8px;
  
}
   
   .body {
    position: absolute;
    
    
    width: 100%;
    height: 900px;

    top: 2850px;
    left: 0;
    background-color: rgb(255, 0, 206);
   
}
.bio {
    margin: 5%;
      
    font-size: 20px;
    color: white;
    width: 100px;
    padding-top: 350px;
    padding-left: 54px;
}
.bio1 {
    margin: 5%;
    font-size: 20px;
    color: white;
    width: 100px;
    padding-top: 350px;
    padding-left: 24px;
}
.bio2 {
    margin: 5%;
    font-size: 20px;
    color: white;
    width: 70px;
    padding-top: 10px;
    padding-left: 50px;
}
.bio3{
    
    margin: 5%;
    font-size: 20px;
    color: white;
    width: 70px;
    padding-left: 24px;
    padding-top: 10px;
}
   
    .myskills{
      position: relative;
    
    }
    
.lapo {
    position: relative;
    display: inline;
    width: 400px;
    height: 500px;
   left: 1px;
     
    
}
    
      .hey {
        position: absolute;
        display: inline-block;
        top: 40px;
        left: 80px;
    }
    .mailmeo, .emailo {
        position: absolute;
        display: inline-block;
        top: 90px;
        left: 80px;
        color: white;
        
    }
    .mailmeo {
        font-family: sans-serif;
        text-decoration: underline;
    }
    
    .emailo {
        top: 120px;
    }
    
    .fname, .gitname, .qname, .gname, .wname, .tname {
    
}
    
    .fname, .gitname, .qname {
        position: relative;
        display: inline-block;;
        
        width: 60px;
        height: 60px;
          
    
        color: rgb(255, 255, 255);
        font-weight: bold;
        left: 90px;
         top: 260px;
        cursor: pointer;
       
       
    }
    .fname {
        top: 245px;
        padding-bottom: 15px;
    }
    
    .gitname {
        top: 340px;
        left: 25px;
        padding-bottom: 30px;
    }
    
    .qname {
        top: 455px;
        left: -40px;
        padding-bottom: 35px;
    }
    
    
    .gname, .wname{
        
        position: relative;
        display: inline-block;
       color: rgb(255, 255, 255);
        width: 60px;
        height: 60px;
        top: 245px;
      
        font-weight: bold;
        
        left: 15px;
        cursor: pointer;
         
    }
    .wname {
        top: 340px;
        left: -80px;
        width: 120px;
        height: 90px;
    }
    
   
    
    
    
    .mobile {
        position: absolute;
        display: inline-block;
        width: 260px;
        top: 180px;
        left: 50px;
    }
}

/*.....4    ..580px--max580 and min 512----  */

@media screen and (max-width: 580px)and (min-width:521px) {
    
        
    .menu {
        display: none;
    }
    .mailmeo, .emailo {
        display: none;
    }
    
    .profile {
       display: none;
        
    }
    
    .infofor, .infofor1 {
        display: none;
    }
   
    
     
    .about,.skills, .strength{
        position: relative;
        display: inline;
        color: white;
        border:  white;
        border-style: outset;
        
        border-radius: 2em;
        padding: 3px;
        cursor: pointer;
        font-size: 25px;
    }
    
    .about  {
        top: 25px;
        left: 5%;
        
       
        
    }
    .skills {
        
        top: 25px;
        left: -0.5%;
        
    }
    
    .strength {
       
        left: 60px;
        margin-left: 60%;
        
        
    }
    
    .nameo {
        position: relative;
        left: 2px;
        top: 120px;
        margin-left: 5%;
        color: white;
        
        
    }
    
    .hi{
        font-size: 40px;
       font-family: Pacifico, cursive;
        color: white;
       
    }
    
    .wrap {
    position: relative;
    font-family: Pacifico, cursive;
    top: 110px;
    left: 20px;
    font-size: 23px;
    color: grey;
    margin-left: 3px;
    margin-right: 20px;
    }
    
   
    
    
    .wrap2 {
        font-family: Pacifico, cursive;
        margin-left: 20px;
        margin-right: 20px;
        font-size: 20px;
        color: white;
    }
    
   .myskills{
      position: relative;
       z-index: 600;
  
    }
    
.lapo {
    position: relative;
    display: inline;
    width: 480px;
    height: 700px;
   left: 1px;
     
    
}
      .hey {
        position: absolute;
        display: inline-block;
        top: 80px;
        left: 130px;
          z-index: 600;
    }
    .tablet {
        position: absolute;
        display: inline-block;
        width: 480px;
        
        left: 10px;
        top: 260px;
        z-index: 600;
    }
    .contactme {
        z-index: 600;
    }
    
    
}












/*---5  -- media quer max640---min581*/

@media  screen and (max-width: 640px)and (min-width:581px) {
   
    .menu {
        display: none;
    }
   
    .intro .profile {
        display: none;
    }
    .mailmeo, .emailo  {
        display: none;
    }
    
    .infofor, .infofor1 {
        display: none;
    }
     
    .about,.skills, .strength{
        position: relative;
        display: inline;
        color: white;
        border:  white;
        border-style: outset;
        
        border-radius: 2em;
        padding: 3px;
        cursor: pointer;
        font-size: 20px;
    }
    
    .about  {
        top: 25px;
        left: 25%;
        
       
        
    }
    .skills {
        
        top: 25px;
        left: 15%;
        
    }
    
    .strength {
        top: 2px;
        left: 60px;
        margin-left: 60%;
        
        
    }
    
   
    .nameo {
        position: relative;
        left: 2px;
        top: 120px;
        margin-left: 5%;
        color: white;
        
        
        
    }
    
    
    .hi{
        font-size: 40px;
       font-family: Pacifico, cursive;
        color: white;
       
    }
    
    .wrap {
    position: relative;
    font-family: Pacifico, cursive;
    top: 110px;
    left: 20px;
    font-size: 23px;
    color: grey;
    margin-left: 3px;
    margin-right: 20px;
    }
    
   
    
    
    .wrap2 {
        font-family: Pacifico, cursive;
        margin-left: 20px;
        margin-right: 20px;
        font-size: 20px;
        color: white;
    }
    
    
  
    
   
    
    
    
    
    .profile {
        position: absolute;
        display: inline-block;
        left: 35%;
        top: 90px;
        width: 100px;
       
    }
    
     
    .about,.skills, .strength{
        position: relative;
        display: inline;
        color: white;
        border:  white;
        border-style: outset;
        
        border-radius: 2em;
        padding: 10px;
        cursor: pointer;
        font-size: 25px;
    }
    
    .about  {
        top: 25px;
        left: 5%;
        
       
        
    }
    .skills {
        
        top: 25px;
        left: -0.5%;
        
    }
    
    .strength {
       top: -4px;
        left: 60px;
        margin-left: 60%;
        
        
    }
    
    .nameo {
        position: relative;
        left: 2px;
        top: 120px;
        margin-left: 5%;
        color: white;
        
        
    }
    
    
    
    .myskills{
      position: relative;
        z-index: 600;
        
     
    }
    
.lapo {
    position: relative;
    display: inline;
    width: 560px;
    height: 800px;
   left: 1px;
   
     
    
}
    .hey {
        position: absolute;
        display: inline-block;
        top: 40px;
        left: 140px;
    }
    .tablet {
        position: absolute;
        display: inline-block;
        width: 540px;
        
        left: 10px;
        top: 120px;
    }
    
}










/*---6    media query max740and min641*/


@media  screen and (max-width: 740px)and (min-width:641px) {
   
    
    .menu ,.mailmeo, .emailo{
        display: none;
    }
    
     .infofor, .infofor1 {
        display: none;
    }
    
    .intro {
        
    }
    .profile {
        width: 90px;
    }
    
    .about,.skills, .strength{
        position: relative;
        display: inline;
        color: white;
        border:  white;
        border-style: outset;
        
        border-radius: 2em;
        padding: 3px;
        cursor: pointer;
        font-size: 18px;
        top: 30px;
    }
    .nameo {
        position: relative;
        left: 2px;
        top: 120px;
        margin-left: 5%;
        color: white;
        
        
    }
    
    .hi{
        font-size: 40px;
       font-family: Pacifico, cursive;
        color: white;
       
    }
    
    .wrap {
    position: relative;
    font-family: Pacifico, cursive;
    top: 110px;
    left: 20px;
    font-size: 23px;
    color: grey;
    margin-left: 3px;
    margin-right: 20px;
    }
    .wrap2 {
        font-family: Pacifico, cursive;
        margin-left: 20px;
        margin-right: 20px;
        font-size: 20px;
        color: white;
    }
    
    .myskills {
        position: relative;
        z-index: 600;
    }
    
    .lapo {
    position: relative;
    display: inline;
    width: 600px;
    height: 800px;
    left: 40px;
    
}
    .contactme{
        position: relative;
        z-index: 600;
        
    }
    
    .hey {
        position: absolute;
        display: inline-block;
        top: 15px;
        left: 140px;
        
    }
    .tablet {
        position: absolute;
        display: inline-block;
        width: 560px;
        
        left: 30px;
        top: 120px;
    }
   
}

/*--7    --max840 and min741------*/
@media screen and (max-width: 840px)and (min-width:741px) {
   
    
    
    
    
    .mailmeo, .emailo {
        display: none;
    }
    
    .menu {
        display: none;
    }
    
     .infofor, .infofor1 {
        display: none;
    }
    
    .profile{
        top: 35px;
        width: 80px;
    }
     .nameo {
        position: relative;
        left: 2px;
        top: 120px;
        margin-left: 5%;
        color: white;
        
        
    }
    
    .hi{
        font-size: 40px;
       font-family: Pacifico, cursive;
        color: white;
       
    }
    
    .wrap {
    position: relative;
    font-family: Pacifico, cursive;
    top: 110px;
    left: 20px;
    font-size: 23px;
    color: grey;
    margin-left: 3px;
    margin-right: 20px;
    }
    .wrap2 {
        font-family: Pacifico, cursive;
        margin-left: 20px;
        margin-right: 20px;
        font-size: 20px;
        color: white;
    }
    
    .myskills {
        position: relative;
        display: inline-block;
      
        
    }
    
    .lapo {
    position: relative;
    display: inline;
    width: 600px;
    height: 800px;
    left: 40px;
    
}
    .hey {
        position: absolute;
        display: inline-block;
        top: 90px;
        left: 180px;
    }
    
    .tablet {
        position: absolute;
        display: inline-block;
        width: 735px;
        top: 220px;
        
    }

}

/*--8    max1260 and min 841*/

@media  screen and (max-width: 1260px)and (min-width:841px) {
   
    .mailmeo, .emailo {
        display: none;
    }
    .menu {
        display: none;
    }
    
     .infofor, .infofor1 {
        display: none;
    }
    
    .profile{
        width: 110px;
    }
.nameo {
        position: relative;
        left: 2px;
        top: 120px;
        margin-left: 5%;
        color: white;
        
        
    }
    
    .hi{
        font-size: 40px;
       font-family: Pacifico, cursive;
        color: white;
       
    }
    
    .wrap {
    position: relative;
    font-family: Pacifico, cursive;
    top: 110px;
    left: 20px;
    font-size: 23px;
    color: grey;
    margin-left: 3px;
    margin-right: 20px;
    }
    .wrap2 {
        font-family: Pacifico, cursive;
        margin-left: 20px;
        margin-right: 20px;
        font-size: 20px;
        color: white;
    }
    
    .lapo {
    position: relative;
    display: inline;
    width: 700px;
    height: 800px;
    left: 10%;
    
}
    
    .hey {
        position: absolute;
        display: inline-block;
        top: 45px;
    }
    .tablet {
        position: absolute;
        display: inline-block;
        width: 800px;
        top: 150px;
        left: 2%;
        right: 1%;
    }
    
    
}

/*--9   max 1261*/
@media  screen and (min-width: 1261px)  {
   
    
    .mailmeo, .emailo {
        display: none;
    }
    .menu {
        display: none;
    }
    
     .infofor, .infofor1 {
        display: none;
    }
   
    .hey {
        position: absolute;
        display: inline-block;
        top: 52px;
    }
    .pc {
        position: absolute;
        display: inline-block;
        width: 1200px;
        top: 190px;
        left: 1%;
        
    }
    .myskills {
        position: relative;
        z-index: 200;
    }
        
        
   
}








/*landscape mode*/
/*---galaxys5------ mobiles----640-------------360--------*/


@media screen and (device-width: 640px) and (device-height: 360px) {
    .profile {
        display: none;
    }
    
    
}

/*iphone5-------568   320  */

@media screen and (device-width: 568px) and (device-height: 320px) {
    
    .profile {
        display: none;
    }
    
}


/*--------------------------------------------------------------------------------------------------------------------*/


/*----samsung galaxy5  360      640-------- */

@media screen and (device-width: 360px) and (device-height: 640px) {
    
    .facebook, .github, .quora {
        position: absolute;
        display: inline-block;
        top: 300px;
        left: 90px;
        width: 60px;
        height: 60px;
        background-color: #ff0000;
     
        cursor: pointer;
    }
    
    .github {
        top: 400px;
    }
    .quora{
        top: 500px;
    }
    
    .ggmail, .whatsapp, .twitter {
      position: absolute;
      display: inline-block;
        width: 60px;
        height: 60px;
        top: 300px;
        
        background-color: #008000;
        left: 200px;
        cursor: pointer;
    }
    
    .whatsapp {
        top: 400px;
        
    }
    .twitter {
        top: 500px;
    }
}


