


.mailsbody {
    
    
    height: 500px;
    width: 610px;
  
    background-color: rgba(233, 234, 221, 0.57);
    position: absolute;
    display: inline;
    left: 220px;
    top: 150px;
    
}

#inside_mailsbody, #inside_mailsbody2, #inside_mailsbody3, #inside_mailsbody4 {
    display: none;
    
}

#videolink, #condition {
    margin: 25px;
    display: inline;
    position: absolute;
    top: 99px;
    left: 80px;
    
}

#condition {
     left: 170px;
    
}