h1 {
    color: rgb(139, 139, 229);
    font-size: 30px;
    
}

h2 {
    color: rgb(139, 139, 229);
    padding-left: 90px;
}

h3 {
    color: rgb(77, 77, 82);
}
p {
    color: rgb(198, 198, 239);
    padding-left: 50px;
    font-family: monospace;
    font-size: 1.5em;
    
}

body {
    background-color: rgb(124, 124, 208);
    display: inline-block;
}

img {
    width: 100px;
    padding-left: 80px;
    padding-bottom: 30px;
}

.copyright {
    font-size: 7px;
    font-weight: 900em;
    padding-top: 50px;
    
}

.video {
   
    margin: 10px;
    
     width: 490px;
    height: 340px;
    background: rgba(96, 96, 178, 0.69);
    position: relative;
    animation: moveit 2s linear 0s ;
 
   
}

strong {
    color: dimgrey;
    background-color: rgb(184, 184, 216);
    
}

@media screen and (max-width: 620px) and (min-width: 410px) {
    iframe {
        width: 360px;
        height: 240px;
    }
}


@media screen and (max-width: 420px) and (min-width: 320px) {
    iframe {
        width: 260px;
        height: 240px;
    }
}